body {
	text-align: center;
}

body form {
	margin-top: 100px;
}

.main-form {
	font-size: 17px;
}

.main-form input {
	border: 1px solid #ccc;
	font-size: 17px;
	display: inline-block;
	margin-bottom: 20px;
}

.main-form input:hover {
	border: 1px solid #ccf;
}

.main-form input:focus {
	border: 2px solid #ccf;
}

.sign-in-button, .sign-out-button {
	border-radius: 5px;
	color: #fff;
	border: none;
	background-color: #777;
	font-size: 15px;
	padding-bottom: 4px;
	cursor: pointer;
	transition: background-color 0.5s;
}

.sign-in-button:hover, .sign-out-button:hover {
	background-color: #000;
}
.personal-data {
	display: none;
}

.personal-data span {
	display: block;
}

.preloader {
	margin: 0 auto;
	background-image: url(../img/loader.gif);
	display: none;
	width: 16px;
	height: 16px;
}

.user-hobbies, .user-country, .user-name {
	margin-bottom: 5px;
}